<header class="main-header">
    <nav class="main-nav">
        <ul>
            <li><a class="nav-link" href="/">Shop</a></li>
            <li><a class="nav-link" href="/admin/add-product">Add Product</a></li>
        </ul>
    </nav>
</header>