<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shop</title>
    <link rel="stylesheet" href="/css/main.css">
   
</head>

<body>
    <header class="main-header">
        <nav class="main-nav">
            <ul class="item-list">
                <li class="list-class"><a class="nav-link" href="/">Shop</a></li>
                <li class="list-class"><a class="nav-link" href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>

    <main class="main-content">
        <h1>Welcome to our Shop</h1>
        <div class="product-container">
            <div class="product-item">
                <h2 class="product-title">Product 1</h2>
                <p class="product-description">Description for product 1...</p>
                <p class="product-price">$19.99</p>
            </div>
        </div>
    </main>
</body>

</html>
